<div id="rules" class="card bg-dark">
    <h3 class="lead text-info">Rules</h3>
    <ol class="list-group-flush">
        <li class="list-group-item bg-dark">Be Civil</li>
        <li class="list-group-item bg-dark">No Trolling or Baiting Users</li>
        <li class="list-group-item bg-dark">No Racist, Sexist, or Homophobic Language</li>
        <li class="list-group-item bg-dark">Post Original Content</li>
        <li class="list-group-item bg-dark">No Fake News</li>
        <li class="list-group-item bg-dark">No Self-Promotion</li>
        <li class="list-group-item bg-dark">Be Civil</li>
        <li class="list-group-item bg-dark">No NSFW (Not Safe For Work) Content</li>
        <li class="list-group-item bg-dark">Posts and Comments must be Relevant to the NBA</li>
    </ol>
</div>